
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');



body{
  font-family: sans-serif;
  font-size: 16px;
  color: #222;
}

header,
section,
footer {
  border: 1px solid #999;
}

nav li a{
color:black;
font-family: 'Playfair Display', serif;
font-weight: 500;
}

header{
  background-color: rgb(47, 48, 48);
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1{
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 270px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: white;
  font-size: 90px;
}


h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: white;
  background-color: rgb(47, 48, 48);
  padding-left: 20px;
}

h3{
padding-left: 10px;
font-family: 'Oswald', serif;
font-weight: 300;
color: black;
}

h3,
p {
  padding-left: 10px;
  margin: 0;
}

#pagename
h2{
font-family: 'Playfair Display', serif;
font-weight: 500;
color: white;
background-color: rgb(47, 48, 48);
padding-left: 20px;
font-size: 30px;
}

article{
  padding-left: 10px;
  margin-bottom: 40px;
}

header{
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}


nav ul{
padding-left: 0;
list-style: none;
}

nav li{
display: inline-block;
margin-right: 20px;
margin-left: 20px;
}


nav li a{
color:black;
font-family: 'Playfair Display', serif;
font-weight: 500;
}

nav li a:hover{
      color: rgb(177,202,217);
}


a{
  color: rgb(167,190,204);
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
}

a :hover{
    color: rgb(177,202,217);
}

a :visited{
  color: rgb(64,67,74);
}

a :active{
  color: rgb(177,202,217);
}


#homephoto
img{
  padding-top: 30px;
  padding-bottom: 10px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
}

#resumephoto
img{
  padding-top: 30px;
  padding-bottom: 10px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
}

#blogphoto
img{
  padding-top: 30px;
  padding-bottom: 10px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
}

img{
  padding-bottom: 20px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

#blogcontent
li{
  padding-bottom: 20px;
}

#videoblurbs1
p{
margin-top: 20px;
margin-bottom: 20px;
font-size: 18px;
}

#videoblurbs1
h3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

#videoblurbs2
p{
margin-top: 20px;
margin-bottom: 20px;
font-size: 18px;
}

#videoblurbs2
h3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

#videoblurbs3
p{
margin-top: 20px;
margin-bottom: 20px;
font-size: 18px;
}
